doctype html 
html
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Title here 
        link(rel="stylesheet", href="css/style.css")
    body
        //

        script(src="/my.js") 
